@import "tailwindcss";


@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/Coolvetica/CoolveticaCompressedHv-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica-Regular';
  src: url('./assets/fonts/Coolvetica/CoolveticaCondensedRg-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Regular';
  src: url('./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

* {
  font-family: 'Coolvetica';
}

.coolvetica-regular {
  font-family: Coolvetica-Regular;
  text-transform: uppercase;
}

.helvetica-regular {
  font-family: Helvetica-Regular;
}


.image-row {
  -webkit-mask-image: url('./assets/shapes/curved.svg');
  mask-image: url('./assets/shapes/curved.svg');
  mask-size: cover;
  width: 100%;
  -webkit-mask-size: cover;
}

.image-row-mobile {
  -webkit-mask-image: url('./assets/shapes/curvedMobile.svg');
  mask-image: url('./assets/shapes/curvedMobile.svg');
  mask-size: cover;
  width: 100%;
  -webkit-mask-size: cover;
}