@font-face {
    font-family: 'Coolvetica Crammed Rg';
    src: url('CoolveticaCrammedRg-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Compressed Hv';
    src: url('CoolveticaCompressedHv-Regular.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Condensed Rg';
    src: url('CoolveticaCondensedRg-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

